@model IEnumerable<WebMap.Models.ProjetModels>

@{
    ViewBag.Title = "ProjectInGivenTime";
}
@{
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}
@using (Html.BeginForm("ProjectInGivenTime", "Projet", FormMethod.Post))
{<h3> Projects In Specific Period   </h3>
    <p>
        From @Html.TextBox("From", "From", new { type = "date" }) To
        @Html.TextBox("To", "To", new { type = "date" })  <input type="submit" value="Confirm" />
    </p>
}
<h2>Project In GivenTime</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cathegory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th></th>
    </tr>

    @foreach (var item in @ViewBag.projet)
    {
        <tr>

            <td>
                @item.name
            </td>
            <td>
                @item.startDate
            </td>
            <td>
                @item.endDate
            </td>
            <td>
                @item.description
            </td>

            <td>
                @item.cathegory
            </td>
            <td>
                @item.Photo
            </td>
            <td>
                @item.Budget
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Export PDF", "PrintDetails")

@*<a href="@Html.ActionLink("Export PDF ", "PrintDetails")">  </a>*@
