@model WebMap.Models.Model
@{
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}
<table class="table">
    <tr>
        <th>
            <b>Nom du tache</b>
        </th>
        <th>
            <b>Nom du Module</b>
        </th>
        <th>
            <b>Affecter un uilisateur à cette tache</b>
        </th>
    </tr>

    @foreach (var item in Model.tasks)
    {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.nmod)
        </td>
        <td>
            @using (Html.BeginForm("ListUsersNonAffection", "Tasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


                @Html.HiddenFor(model => item.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(model => item.iduserAffect, item.Users)
                <input type="submit" value="Affecter" class="btn btn-primary" />

            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbsome)
        </td>
    </tr>
    }

</table>
