@model IEnumerable<WebMap.Models.TasksModels>

@{
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-controller="Tasks" asp-action="AllTasks">
        <p>
            @Html.TextBox("searchString")
            <input type="submit" value="Rechercher" id="recherche" />
        </p>
    </form>

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.diff)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.rest)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nuser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rest)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                 
                </td>
            </tr>
        }

    </table>
</body>
</html>
