@model WebMap.Models.TasksModels
@{
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<div>
    @using (Html.BeginForm("Changestatus", "Tasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <dl class="room-box">
        <h5 class="text-primary"><a href="chat_room.html">Détails</a></h5>
        @Html.HiddenFor(model=> model.id)
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nmod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nmod)
        </dd>

        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "To do",
                Value = "0",
            });
            listItems.Add(new SelectListItem
            {
                Text = "Doing",
                Value = "1",

            });
            listItems.Add(new SelectListItem
            {
                Text = "Done",
                Value = "2",
            });
        }
        @Html.DropDownListFor(model => model.etat, listItems, "-- Select Status --")
        <input type="submit" value="Marquer" class="btn btn-primary" />

    </dl>
    }
</div>
