@using WebMap.Models
@model WebMap.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
<title>Register - HRMS admin template</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MyTemplate/")css/style.css">

<script src="@Url.Content("~/Content/MyTemplate/")js/html5shiv.min.js"></script>
<script src="@Url.Content("~/Content/MyTemplate/")js/respond.min.js"></script>


<div class="main-wrapper">
    <div class="account-page">
        <div class="container">
            <h3 class="account-title">Management Login</h3>
            <div class="account-box">
                <div class="account-wrapper">
                    <div class="account-logo">
                        <a href="index.html"><img src="@Url.Content("~/Content/MyTemplate/")img/logo2.png" alt="Focus Technologies"></a>
                    </div>
                   @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                   {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div>
                        <br />
                        <br />
                        <br />
                        @Html.DropDownList("Role",
                    new SelectList(Enum.GetValues(typeof(Role))),
                    "Select a role",

                     new { @class = "form-control", onchange = "getval(this);" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                
                   }
                </div>
            </div>
        </div>
    </div>
</div>           
                        
                <div class="sidebar-overlay" data-reff="#sidebar"></div>
                <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/jquery-3.2.1.min.js"></script>
                <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/bootstrap.min.js"></script>
                <script type="text/javascript" src="@Url.Content("~/Content/MyTemplate/")js/app.js"></script>
                   
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }