@model IEnumerable<WebMap.Models.reclamationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>Index</h2>

<h1>user = @ViewBag.user</h1>



<p>
    @Html.ActionLink("List Reclamation Traiter", "Traiter")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.objet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.objet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.FirstName)
            </td>
            <td>
                @Html.ActionLink("Traitement", "Traitement", new { id = item.id })

            </td>
        </tr>
    }

</table>
