@model IEnumerable<WebMap.Models.reclamationViewModel>
@{
    ViewBag.Title = "Traiter";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>Traiter</h2>


<p>
    @Html.ActionLink("List Reclamation Non Traiter", "Index")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.objet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.objet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.FirstName)
        </td>
    </tr>
    }

</table>
